/* COMMON STYLES */

*{
    font-family: Work Sans
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    border: none;
}
ul{
    list-style: none;
    padding: 0;
}

.btn-gnrl{
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    font-weight: 600;
}

#pink-btn{
    background-color: #F948B2;
}
#sky-btn{
    background-color: rgb(48, 196, 255);
}

#wht-btn{
    color: #F948B2;
}
/* HEADER STYLES */
nav{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
    /* width: 98%; */
    padding: 0 8%;
    box-shadow: 0px 0px 30px 0px rgb(216, 216, 216);
}

.main-icon{
    display: flex;
    font-size: 32px;
    align-items: center;
}
.main-icon img{
    height: 30px;
    margin-right: 5px;
}
#G{
    color: rgb(255, 95, 148);
}
.nav-features{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 980px;    
    column-gap: 50px;
}
.nav-features h1{
    font-weight: 500;
    /* width: 100%; */
}

.follow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 200;
    background-color: rgb(223, 223, 223);
    padding: 1% 4%;
    /* width: 100%; */
    border-radius: 4px;
    margin: 15px 0;
    
}
.follow h3{
font-weight: 500;

}
.follow img{
    width:  50px;
    height: 50px;
}

/* BANNER STYLES */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 140px;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50% 100%;
}

.banner-header > h3{
    color: black;
    font-size: 48px;
}
.banner-header > h1{
    color: #F948B2;
    /* box-shadow: 4px 3px 2px 1px gray; */
    font-size: 95px;
}

.key-features{
    display: flex;
}
.list-icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

}
.list-icons>li{
    padding: 20%;
}
.list-headings{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    padding-left: 10px;
}
.list-headings>li{
    padding:0;
    font-size: 20px;
    /* padding: 0 0 2% 5px; */
    padding-bottom: 5px;
}

.banner-buttons > .btn-gnrl{
    padding: 10px 20px;
    font-size: 20px;
}

/* MAIN STYLES */
/* INTRO STYLES */
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin: 150px 0;
    background-color: #fef6fa;
}
.intro-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.intro-title{
    color: #F948B2;
    font-size: 48px;
}
.intro-description{
    width: 450px;
    font-size: 18;
    margin: 20px 0;
    color: #534C64;
}

.intro-info>h6{
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    color: #534C64;
}
.intro-info > h4{
    font-size: 32px;
    font-weight: bold;
    color: #534C64;
}

/* SHOWCASE STYLES */

.showcase-title{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 45px 0;
}

.showcase-title-pink{
    color: #F948B2;
}

.showcase-subtitle{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
}

.showcase-gallery{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 20px 0;
}

.showcase-gallery h5{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

/* PLAY ONLINE STYLES */

.play-online{
    /* position: relative; */
    display: flex;
    column-gap: 50px;
    justify-content: center;
    margin: 200px 0;
}

.play-online-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}

.play-online-info-title{
    font-size: 48px;
    color: #F948B2;
}

.play-online-info-subtitle{
    font-size: 48px;
}

.play-online-info > h5{
    width: 363px;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
}

.play-online-images{
    position: relative;
}
.play-online-images > img{
    width: 600px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.play-online-floater{
    position: absolute;
    bottom: 0;
}

/* PLAY ANYWHERE STYLES */

.play-anywhere{
    /* position: relative; */
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;
    justify-content: center;
    margin: 200px 0;
}

.play-anywhere-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.play-anywhere-info-title{
    font-size: 48px;
    color: #F948B2;
}

.play-anywhere-info-subtitle{
    font-size: 48px;
}

.play-anywhere-info-subtitle > span{
    color: #F948B2;
}

.play-anywhere-info > h5{
    width: 463px;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
}

.play-anywhere-images{
    position: relative;
}
.play-anywhere-images > img{
    width: 600px;
    margin-right: 80px;
    margin-bottom: 80px;
}

.play-anywhere-floater{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* CAREERS STYLE */

.careers{
display: flex;
justify-content: center;
align-items: center;
margin: 100px 0;
background-color: #F948B2;
color: white;
column-gap: 100px;
}

.careers > img{
    width: 730px;
}

.careers-title-info > h1{
font-size: 48px;
font-weight: 800;
}

.careers-title-info > p{
width: 610px;
font-size: 18px;
font-weight: 400;
}

.post-location-list{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}

.post{

}

.location{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

/* FACILITY CATALOGUE STYLES */

.facility-catalogue{
    display: flex;
    column-gap: 30px;
    row-gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.facility-catalogue div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    column-gap: 10px;
    font-weight: 400;
    box-shadow: 0px 0px 30px 0px rgb(216, 216, 216);
    border-radius: 60px;
    padding: 10px 20px;
}

.facility-catalogue div > img{
    width: 60px;
}

#arcade{
    border: #F948B2 2px solid;
    color: #F948B2;
}

/* FOOTER STYLES */

footer{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    background-color: #0B0223;
    color: white;
    padding: 100px 0;
}

.services{
    display: flex;
    column-gap: 25px;
    font-size: 18px;
    font-weight: 800;
}

.faq{
    display: flex;
    column-gap: 15px;
    /* margin: 10px 0; */
    color: rgba(255, 255, 255, 0.619);
}

.socials{
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: ;
}

.socials i{
    font-size: 25px;
}

.copyright{
    color: rgba(255, 255, 255, 0.619);
}


/* RESPONSIVE STYLE */

@media screen and (max-width:576px) {
    nav{
        display: flex;
        flex-direction: column;
        box-shadow: none;
        row-gap: 30px;
        margin-top: 50px;
        padding-bottom: 30px;
    }

    .main-icon{
        font-size: 40px;
    }



    .nav-features{
        flex-direction: column;
        row-gap: 20px;
    }

    .follow{
        font-size: 10px;
        padding: 0 1%;
    }

    .follow > img{
        width:  30px;
        height: 30px;
    }

    .banner{
        flex-direction: column-reverse;
        row-gap: 100px;
        padding-bottom: 40px;
    }

    .banner > img{
        width: 98%;
    }

    .banner-buttons{
        display: flex;
        justify-content: space-around;
    }

    .intro{
        flex-direction: column;
        padding-bottom: 40px;
        
    }

    .intro > img{
        width: 100%;
        margin: 10px;
    }

    .intro-info{
        align-items: center;
        row-gap: 15px;
    }

    .intro-info > p{
        width: 95%;
        text-align: center;
    }

    .intro-info > h4{
        text-align: center;
    }
    
    .showcase-title{
        font-size: 35px;
    }

    .showcase-gallery{
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }

    .showcase-gallery > div > h5{
        font-size: 20px;
    }

    .showcase-gallery img{
        width: 100%;
        /* padding: 2%; */
    }

    .play-online{
        flex-direction: column;
        align-items: center;
    }

    .play-online-info{
        align-items: center;
    }
    
    .play-online-info-title, .play-online-info-subtitle{
        /* font-size: 10px; */
        text-align: center;

    }

    .play-online-info > h5{
        text-align: center;
        font-size: 18px;
    }

    .play-online-images{
        width: 80%;
    }

    .play-online-images > img{
        width: 80%;
    }

    .play-online-floater > img{
        width: 70%;
    }

    .play-anywhere{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .play-anywhere-info{
        align-items: center;
    }
    
    .play-anywhere-info-title, .play-anywhere-info-subtitle{
        /* font-size: 10px; */
        text-align: center;

    }

    .play-anywhere-info > h5{
        text-align: center;
        font-size: 18px;
    }

    .play-anywhere-images{
        width: 80%;
    }

    .play-anywhere-images > img{
        width: 90%;
        margin-bottom: 80px;
    }

    .play-anywhere-floater > img{
        /* width: 20%; */
        left: 500;
        bottom: 0;
        width: 230px;
    }

    .careers{
        flex-direction: column;
    }

    .careers-title-info{
        width: 90%;
        padding: 50px 0;
    }

    .careers-title-info > h1{
        font-size: 34px;
    }

    .careers-title-info > p{
        width: 100%;
        font-size: 12px;
    }

    .post-location-list{
        font-size: 12px;
    }

    #wht-btn{
        font-size: 12px;
    }

    .careers > img{
        width: 100%;
        
    }

    .facility-catalogue div{
        font-size:8px;
        width:25%;
    }

    .facility-catalogue div > img{
        width: 30px;
    }

    .services{
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 90px;
        row-gap: 30px;
    }

    .socials{

    }


}


